/* 共通部分 */
@charset "UTF-8";

html {
  font-size: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

/* 大きな背景画像 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    ),
    url(image/soy-tea07.png);
  min-height: 100vh;
}

#home .page-title {
  text-transform: none;
}

.logo {
  width: 150px;
  margin: 14px 10px;
}

/* header */
.main-nav {
  display: flex;
  font-size: 1.1rem;
  font-family: "Poiret One", sans-serif;
  text-transform: uppercase;
  margin-top: 35px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: rgb(22, 97, 22);
  text-decoration: none;
}

.main-nav a:hover {
  color: rgb(216, 91, 12);
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* HOME */
.heme-content {
  text-align: center;
  margin-top: 10%;
}

.heme-content p {
  margin: 25px 0 42px;
  font-family: "Zen Maru Gothic", serif;
  letter-spacing: 1.5px;
}

/* 見出し */
.page-title {
  font-size: 5rem;
  font-family: "Poiret One", sans-serif;
  font-weight: normal;
}

/* ボタン */
.button {
  font-family: "Zen Maru Gothic", serif;
  letter-spacing: 1.5px;
  font-size: 1.25rem;
  background: #146116;
  color: white;
  border-radius: 10px;
  padding: 13px 42px;
  text-decoration: none;
}

.button:hover {
  background: #d85b0a;
}

/* News */
#news {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    ),
    url(image/soy-tea05.png);
  height: 270px;
  margin-bottom: 40px;
} /* 本当は元画像の表示の範囲を下の方に変えたい */

#news .page-title {
  text-align: center;
}

.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* 記事部分 */
article {
  width: 74%;
}

/* 記事一覧 */
.news-contents-box {
  height: 240px;
}

.news-thumb {
  margin: 0 2rem 1rem 0;
  float: left;
}

.news-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.news-date {
  background: #d85b0a;
  border-radius: 50%;
  color: #fff;
  width: 85px;
  height: 85px;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 15px;
  margin-top: 10px;
}

.news-date span {
  font-size: 0.85rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 3px;
  display: block;
  width: 60px;
  margin: 0 auto;
}

.news-img {
  width: 220px;
  height: 180px;
  border-radius: 40% 70% 50% 30%/50%;
}

.news-title {
  padding-top: 55px;
}

.news-title a {
  color: black;
  text-decoration: none;
}

.news-button {
  font-family: "Zen Maru Gothic", serif;
  letter-spacing: 1.5px;
  font-size: 1rem;
  background: #146116;
  color: white;
  border-radius: 5px;
  padding: 7px 21px;
  text-decoration: none;
  float: left;
}

.news-button:hover {
  background: #d85b0a;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 60px auto;
  width: 80%;
}

/* 記事ページ */
.post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-date {
  background: #d85b0a;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 12px;
}

.post-date span {
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 4px;
  display: block;
  width: 70px;
  margin: 0 auto;
}

.post-title {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

.post-title,
.post-cat {
  margin-left: 120px;
}

.post-cat a {
  color: #4c544d;
  font-weight: bold;
  text-decoration: none;
}

article img {
  margin-bottom: 20px;
}

article p {
  font-family: "M PLUS 1p", sans-serif;
  margin-bottom: 1rem;
}

/* サイドバー */
aside {
  width: 22%;
}

aside p {
  padding: 12px 10px;
  line-height: 1.7rem;
}

.sub-title {
  font-size: 1.35rem;
  padding: 0 8px 8px;
  border-bottom: 2px #d85b0a solid;
  font-weight: normal;
}

.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}

.sub-menu li {
  border-bottom: 1px #ddd solid;
}

.sub-menu a {
  color: #146116;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.sub-menu a:hover {
  color: #d85b0a;
}

/* フッター */
footer {
  background: rgb(22, 97, 22);
  text-align: center;
  padding: 26px;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}

/* MENU */
#menu {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    ),
    url(image/soy-tea04.png);
  min-height: 100vh;
}

.menu-content {
  max-width: 560px;
  margin-top: 10%;
}

.menu-content .page-title {
  text-align: center;
}

.menu-content p {
  font-size: 1.125rem;
  font-family: "M PLUS 1p", sans-serif;
  letter-spacing: 3.5px;
  line-height: 35px;
  margin: 50px 0 0;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 6%;
  margin-bottom: 50px;
}

/* CONTACT */
#contact {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    ),
    url(image/exterior-cafe05.png);
  min-height: 100vh;
}

/* フォーム */
form div {
  margin-bottom: 50px;
}
label {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.125rem;
  margin-bottom: 8px;
  display: block;
}
input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  font-family: "M PLUS 1p", sans-serif;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}
textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}

/* 店舗情報・地図 */
#location {
  padding: 4% 0;
  margin-bottom: 65px;
}
#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 22%;
}
.location-info p {
  padding: 12px 10px;
}
.location-map {
  width: 74%;
}

/* iframe */
iframe {
  width: 100%;
}

/*Topへスクロールボタン*/
#mybtn {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 30px;
  z-index: 99;
  background-color: #d85b0a;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 1rem;
}

#mybtn:hover {
  background-color: #8d8258;
}

/* モバイル版 */
@media (max-width: 800px) {
  .page-title {
    font-size: 2.5rem;
  }
  .page-header {
    flex-direction: column;
    align-items: center;
  }

  /* HEADER */
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }

  .main-nav li {
    margin: 0 20px;
  }

  /* HOME */
  .heme-content {
    margin-top: 20px;
  }

  /* NEWS */
  .news-contents {
    flex-direction: column;
  }
  article,
  aside {
    width: 100%;
  }

  /* 記事一覧 */

  #news .page-title {
    margin-top: 30px;
  }
  aside {
    margin-top: 60px;
  }

  #news {
    margin-bottom: 20px;
  }

  .news-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
    padding-top: 10px;
    margin-top: 20px;
  }

  .news-date span {
    font-size: 0.85rem;
    padding-top: 1px;
    width: 80%;
  }

  .news-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }

  .post-info {
    margin-bottom: 30px;
  }
  .post-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }

  .post-date span {
    font-size: 0.875rem;
    padding-top: 2px;
  }
  .post-title {
    font-size: 1.375rem;
  }
  .post-cat {
    font-size: 0.875rem;
    margin-top: 10px;
  }
  .post-title,
  .post-cat {
    margin-left: 80px;
  }
  /* MENU */
  .menu-content {
    margin-top: 20%;
  }
  .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
  }
  /* CONTACT */
  #contact .page-title {
    margin-top: 40px;
  }

  /* フォーム */
  input[type="text"],
  input[type="email"],
  textarea {
    max-width: 100%;
  }
  /* 店舗情報・地図 */
  #location .wrapper {
    flex-direction: column;
  }
  .location-info,
  .location-map {
    width: 100%;
  }
}
